Package: cpr
Version: 1.11.1
Depends: curl, vcpkg-cmake, vcpkg-cmake-config
Architecture: x64-windows
Multi-Arch: same
Abi: 57a046f30fa31cd271810e14d48e6c41816a08f04c77e963013d65c3a1101f65
Description: C++ Requests is a simple wrapper around libcurl inspired by the excellent Python Requests project.
Default-Features: ssl

Package: cpr
Feature: ssl
Depends: curl
Architecture: x64-windows
Multi-Arch: same
Description: Enable SSL support
